/*=========================================================================================
  File Name: _extraComponents.scss
  Description: partial - imports extra components styles
  ----------------------------------------------------------------------------------------

==========================================================================================*/


@import "vuexy/extraComponents/awesomeSwiper";
@import "vuexy/extraComponents/formWizard";
@import "vuexy/extraComponents/vueSelect";
@import "vuexy/extraComponents/charts";
@import "vuexy/extraComponents/contextMenu";
@import "vuexy/extraComponents/quillEditor";
@import "vuexy/extraComponents/datePicker";
@import "vuexy/extraComponents/datetimePicker";
